/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.container {
    width: 70%;
    margin: 0 auto;
}

/* Header styles */
header {
    background-color: #88e38b;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
}

nav a:hover {
    text-decoration: underline;
}

/* Section styles */
section {
    padding: 60px 0;
}

section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.about-content img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.about-text {
    max-width: 600px;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-item {
    background-color: #f4f4f4;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    width: calc(50% - 40px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-item h3 {
    margin-top: 0;
}

/* Form styles */
form {
    max-width: 600px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background-color: #88e38b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

/* Footer styles */
footer {
    background-color: #88e38b;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative; /* Add this */
}

.about-content img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.about-text {
    max-width: 600px;
    position: relative;
}

.resume-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3b7c3e;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    position: absolute;
    right: 0; /* Position it on the right */
    top: 0; /* Adjust position as needed */
    transform: translateX(50%); /* Center it vertically */
}

.resume-button:hover {
    background-color: #45a049;
}
